%footer
  .wrapper
    %nav.grid.pad
      %ul.sm-icons
        %li
          %a{:href => '/facebook.com/WhyDeliver'}
            %i.ss-icon facebook
        %li
          %a{:href => 'twitter.com/whydeliver'}
            %i.ss-icon twitter
        %li
          %a{:href => 'instagram.com/whydeliver'}
            %i.ss-icon instagram
        / %li
        /   %a{:href => 'plus.google.com/whydeliver'}
        /     %i.ss-googleplus
      %ul.footer-nav.group
        %li=link_to 'CONTACT US', "mailto:info@whydeliver.com"
      /   %li=link_to 'ABOUT US', '#'
      /   %li=link_to 'OUR TEAM', '#'
      /   %li=link_to 'PRESS & MEDIA', '#'
      /   %li=link_to 'FAQ', '#'
      /   %li=link_to 'PRIVACY', '#'
      /   %li=link_to 'TERMS', '#'