%header.top-header
  .wrapper
    %nav.grid
      =link_to "WhyDeliver", root_url, :class => 'logo'

      %ul.main-nav
        %img{:src => '/assets/account-guy.png', :class => 'login-icon'}
        %li=link_to "Sign In", sign_in_url
        / %li=link_to "Sign Up", sign_up_url