.dashboard-aside {
  // @include background($white);
  header {
    h3 {
      color: $white;
      position: relative;
      background: $secondaryColor;
      line-height: 50px;
      text-align: center;
    }
  }

    button {
      display: block;
      width: $button-size*1.2;
      height: $button-size/3;
      margin: 30px auto;
      color: $white;
    }

  .good-done {
    @include background($light-grey);
    li {
      margin: 5px 0;
    }
    .number {
      background: transparent;
      // margin: 10px;
      // padding: 0 10px;
      height: 100px;
      h1 {
        color: $primaryColor;
        position: relative;
        left: -15px;
        display: block;
        line-height: 60px;
        text-align: center;
        font-weight: 700;
        width: 90px;
        margin: 5px;
        background: $white;
      }
    }
    p {
      background: transparent;
      height: 100px;
      padding-top: 5px;
    }
  }
}

.order-list {

  nav {
    padding: 20px 0;
    @include background($med-grey);
  }

  .search {
    height: $button-size/4;
    line-height: 30px;
    padding: 10px 30px;
    text-align: center;
  }
  table {
    width: 100%;
    th, td {
      vertical-align: middle;
      min-height: $table-row-size;
      float: left;
      text-align: center;
    }
    td {
      font-size: 14px;
    }
    thead {
      @include background(linear-gradient(lighten($primaryColor, 5%), darken($primaryColor, 5%)));
      display: block;
      line-height: $table-row-size;
      height: $table-row-size;
      @include box-shadow(0px 1px 2px);
      tr {
        line-height: $table-row-size;
        height: $table-row-size;
        font-size: 12px;
        font-weight: 700;
      }
      th {
        margin: 4px 0;
        border-right: 2px solid transparentize(lighten($primaryColor, 10%), .2);
        &:last-child {
          border-right: none;
        }
      }
      .status {
        padding: 0 30px;
        &.delivered {
          @include background(darken($primaryColor, 10%));
        }
        &.on-route {
          @include background(lighten($primaryColor, 10%));
        }
        &.awaiting-pickup {
          @include background(lighten($secondaryColor, 10%));
        }
        &.pending {
          @include background($light-grey);
        }
      }
      .date {
        padding: 0 18px;
      }
      .product {
        padding: 0 51px;
      }
      .name {
        padding: 0 56px;
      }
      .order_id {
        padding: 0 13px;
      }
    }
    tbody {

      tr {
        display: block;
        margin: 10px 0;
        background: $white;
        box-shadow: 0px 2px 0px $light-grey, 0px 5px 0px $light-brown;
        text-align: center;
        vertical-align: middle;
      }

      .status {
        padding: 0 10px;
        width: 110px;
        line-height: 100px;
        vertical-align: bottom;
        color: $white;
        padding-top: 30px;
        &.delivered {
          @include background(url('/assets/house.png') 28px 4px no-repeat,darken($primaryColor, 10%));
        }
        &.on-route {
          @include background(url('/assets/briefcase.png') 28px 4px no-repeat,lighten($primaryColor, 10%));
        }
        &.awaiting-pickup {
          @include background(url('/assets/clock.png') 28px 4px no-repeat,lighten($secondaryColor, 10%));
        }
        &.pending {
          @include background(url('/assets/clock.png') 28px 4px no-repeat,$light-grey);
        }
      }
      .date {
        width: 71px;
        padding: 20px 10px;
      }
      .product {
        width: 164px;
        padding: 20px 10px;
        // line-height: 100px;
      }
      .name {
        width: 150px;
        padding: 0 10px;
        line-height: 100px;
      }
      .order_id {
        width: 90px;
        padding: 0 10px;
        line-height: 100px;
      }
    }
  }
}

.create-order-page {
  form {
    background: $white;
  }
  .create-order-btn {
    display: block;
    width: $button-size;
    height: $button-size/4;
    margin: 30px auto;
  }
}