input[type='text'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
   
}

input {
  border: none;
  border-image: none;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $form-grey;
  border-bottom: 2px dotted darken($form-grey, 10%);
  box-shadow: none;
  width: 100%;
  padding: 10px 0;
  @include background(transparent);
  @include float;
  @extend %box-emboss;
  &:active, &:focus {
    color: darken($form-grey, 20%);
    outline-color: $secondaryColor;
    outline-width: 3px;
    outline-style: none;
    // @include background(lighten($secondaryColor, 20%));
    border-bottom: 2px dotted darken($secondaryColor, 30%);
  }
  &[type='text'] {
    
  }
  &[type='email'] {
    
  }
  &[type='search'] {

    @include appearance(none);
    @include background($white);
    border: 2px dotted darken($form-grey, 10%);
    line-height: 60px;
    height: 52px;
    padding: 20px;
  }
  &[type='tel'] {
    
  }
  &[type='url'] {
    
  }
  &[type='password'] {
    
  }
  &[type='checkbox'] {
    // @include background($secondaryColor);
    // color: $secondaryColor;
    // @include appearance(none);
    margin: 5px 10px;
    height: 10px;
    width: 10px;
  }
  &[type='submit'] {
    @include button($secondaryColor);
    @include font($museo, 700);
    font-size: 18px;
    color: $white;
  }
}

input[type='radio'] {
  @include appearance(none);
  @include background(url('/assets/wd-radio-buttons.png') no-repeat);
  border-bottom: none;
  height: 57px;
  width: 56px;
  &:hover, &:focus, &:active {
    @include background(url('/assets/wd-radio-buttons.png') -56px 0px no-repeat);
  }
  &:checked {
    @include background(url('/assets/wd-radio-buttons.png') -112px 0px no-repeat);
  }
}

button {
  @extend %button;
  @include font($museo, 700);
  @include text-shadow(darken($secondaryColor, 10%) 3px 3px);
  font-size: 18px;
  color: $white;
  a {
    font-size: 18px;
    color: $white;
  }
}

label {
  font-size: 12px;
  line-height: 12px;
  margin: 5px 10px;
  color: lighten($form-grey, 20%);
  @include float;
}

#mc_embed_signup {
  width: 580px;
  @include background(transparent);
  form {
    @include background(transparent);
    #mce-EMAIL {
      @include background(transparentize($white, .3));
      border: 2px solid $primaryColor;
    }
    .checkboxes {
      @include background(transparentize($black, .5));
      label {
        height: 57px;
        text-align: center;
        vertical-align: middle;
        padding-top: 17px;
        @include font();
      }
    }
    #mc-embedded-subscribe {
      @include button(lighten($primaryColor, .5));
      margin-top: 30px;
      width: 280px;
      color: $white;
      @include text-shadow(darken($primaryColor, 10%) 3px 3px);
    }
  }
}

