/*-  VANITY STYLES
----------------------------------------------------------------------*/
transparent
::selection { background-color: $selection-bg; text-shadow: none; color: $selection; }
::-moz-selection { background-color: $selection-bg; text-shadow: none; color: $selection; }
img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

@media only screen and (max-device-width: 480px) {
  html {-webkit-text-size-adjust: none}
  a:link {-webkit-tap-highlight-color: #fff;}
}

/*-  BASE SITE STYLES
----------------------------------------------------------------------*/

*, *:after, *:before { @include box-sizing(border-box); }

body {
  @include font(Helvetica, 500);
  font-size: 62.5%;
  line-height: 1.3;
  background-color: #fff;
}

body, select, input, textarea {
  color: #000;
}

/*-  IMPORTED PIECES
----------------------------------------------------------------------*/

.wrapper {
  max-width: $maxSiteWidth;
  margin: 0 auto;
}

.square {
  height: $square-size;
  width: $square-size;
  margin-right: 0;
  @include background($square-color);
  figure {
    display: block;
    margin: 35px auto;
    height: $circle-size;
    width: $circle-size;
    background: $primaryColor;
    @include border-radius(50%);
    img, h4 {
      text-align: center;
      color: $white;
    }
    img {
      display: block;
      margin: 30px auto;
      margin-top: 45px;
      line-height: 140px;
    }
    .delivery {
      margin-bottom: 7px;
      margin-top: 30px;
      margin-left: 55px;
    }
  }
  &.middle {
    @include background($dark-brown);
    figure {
      @include background($dark-grey);
    }
  }
}

.angular-view {
  background: $light-brown;
}



.add, .order, .account, .delivery, .merchant {
  height: 65px;
  width: 65px;
}

.delivery {
  width: 100px;
  height: 100px;
}

.guarantee {
  img {
    float: left;
    display: block;
  }
  p {
    display: block;
    float: left;
    font-size: 12px;
    width: 103px;
  }
}

#cycle {
  position: relative;
  display: inline-block;
  width: 300px;
  @include background($secondaryColor);
  top: 14px;
  // float: left;
  div {
    @include background($secondaryColor);
    position: absolute;
    top: 10px;
    left: 0;
  }
}

form {
  @extend %group;
  @include background($white);
  margin-top: 40px;
}


.create-merchant-btn {
  display: block;
  margin: 20px auto;
  width: $button-size;
  height: $button-size/4;
}

#sessions {
  .login-btn {
    display: block;
    margin: 20px auto;
    width: $button-size;
    height: $button-size/4;
  }
}

img.merchant {
  margin-bottom: 28px;
}