/* ******************************************************************************
 *
 * Font Stacks
 *
 ****************************************************************************** */

$helvetica: 'helvetica';
$museo: 'museo-slab', Rockwell, 'Lucida Bright', Georgia, serif;
$bree: 'bree', 'Helvetica Neue', Helmet, Freesans, sans-serif;
$text: 'droid-serif', 'Lucida Bright', Georgia, serif;
$sans-serif: 'Helvetica Neue', Helmet, Freesans, sans-serif;
$learningCurve: 'LearningCurve';
$learningCurveDashed: 'LearningCurveDashed';

$regFontSize: 12px;

/* ******************************************************************************
 *
 * Colors
 *
 * By Color Name
 *
 ****************************************************************************** */


$black: #000;
$white: #fff;

/* Brand Colors */

$orange: #fa8859;
$med-orange: #e37655;
$seafoam: #a5dbd8;
$light-brown: #f2f0e4;

/* Greens */
$light-green: #edf2f1;
$med-green: #cae8d4;
$dark-green: #5c9999;
$bright-green: #76d4b2;

/* Greys */

$light-grey: #c5bfbf;
// $shadow-grey: #999999;
// $photo-shadow: #8A8A8A;
$med-grey: #a09f98;
$dark-grey: #636363;

/* Indicator Colors */
$red: #FF282E;
$green: #00bf50;

/* ******************************************************************************
 *
 * Colors
 *
 * By Usage Name, reference the color variables above, use the variables below
 * in the actual SASS partials throughout the site.
 *
 ****************************************************************************** */

$primaryColor: $seafoam;
$secondaryColor: $orange;

/* Border Colors */
$button-border: $white;
$light-border: $white;


/* Background Colors */

$stat-bg: rgba(128, 128, 128, .25);


/* Button Colors */
$simple-button: $med-green;
$info-button: $light-grey;

$dotColor: $light-grey;


/* Event Colors */

$alert-color: $red;


/* Text Colors */
$h1-color: $black;
$h2-color: $black;
$h3-color: $black;
$h4-color: $black;
$h5-color: $black;
$text-color: $black;
$link-color: $secondaryColor;
$link-hover: lighten($link-color, 20%);
$link-hover-extra: transparentize($link-color, .5);
$footer-text: $white;

$supportMsgColor: $med-grey;

$form-grey: $med-grey;
$form-bg: whitesmoke;

$selection: $primaryColor;
$selection-bg: $black;


/* ******************************************************************************
 *
 * Site specific variables
 *
 ****************************************************************************** */

$thin-border: 3px solid;
$med-border: 5px solid;
$thick-border: 10px solid;

$statsSize: 200px;
$statsBackground: rgba(231,231,232,.5);

$maxSiteWidth: 940px;

$giveBtnSize: 250px;

$dotSize: 12px;

$dotPosition: 100px;

$lineSize: 253px;
