%section
  .wrapper
    %nav.grid.pad
      %ul.group
        %li.col-1-3
          %a{:href => "/dashboard/#/create_order"}
            %div.square.group
              %figure
                %i ICON
                %h4 CREATE ORDER

        %li.col-1-3
          %a{:href =>  "/dashboard/#/my_orders"}
            %div.square.middle.group
              %figure
                %i ICON
                %h4 MY ORDERS

        %li.col-1-3
          %a{:href => "/dashboard/#/my_account"}
            %div.square.group
              %figure
                %i ICON
                %h4 MY ACCOUNT


%section.grid.pad{'ng-view'=>true, :class => 'angular-view'}