<header>
  <h2>
    <a href="/dashboard/#/create_order">Create Order</a> |
    <a href="/dashboard/#/my_orders">My Orders</a> |
    <a href="/dashboard/#/my_account">My Account</a>
  </h2>
</header>
<section ng-view>
  

</section>
