=button_tag "Clock In", :id => 'clock-in', :data => { :id => 1 }
=button_tag "Clock Out", :id => 'clock-out', :data => { :id => 1 }
=button_tag "Accept Order", :id => 'accept-order', :data => { :id => 1 }