%section.layer-1
  .wrapper
    %header.grid.pad.hero.group
      %h1 ORDERED BY YOU.
      %h2 DELIVERED BY YOUR NEIGHBOR.
      %button.group
        =link_to 'DELIVERY', '#'
      %button.group
        =link_to 'MERCHANT', '#'

%section.layer-2
  .wrapper
    %article.grid.pad
      %header.col-1
        %h3 WHYDELIVER? CAUSE IT'S GREEN
      %ul.group
        %li.col-1-3
          .square.group
            %figure
              %i ICON
              %h4 CUSTOMER
          %p Place an order with a local merchant
        %li.col-1-3
          .square.middle.group
            %figure
              %i ICON
              %h4 MERCHANT
          %p Merchant hands off merchant to delivery
        %li.col-1-3
          .square.group
            %figure
              %i ICON
              %h4 DELIVERY
          %p Package is delivered to you in as soon as an hour