%section.layer-1
  .wrapper
    %header.grid.pad.hero.group
      .gsb
        %h3 VOTE FOR US IN THE GLOBAL STARTUP BATTLE!
      %h1 ORDERED BY YOU.
      %h2 DELIVERED BY YOUR NEIGHBOR.
      #mc_embed_signup
        %form{:action => "http://whydeliver.us6.list-manage1.com/subscribe/post?u=017b23b3f5bced4fe5f622890&amp;id=472dedf596", :method => 'post', :class => 'validate', :traget => '_blank', 'novalidate' => 'novalidate'}
          %input#mce-EMAIL.required.email{:type => 'email', :value => '', :name => 'EMAIL', :placeholder => "ENTER EMAIL"}
          %fieldset.checkboxes

            %input{:type => 'radio', :value => '1', :name => 'group[1933]', :id => 'mce-group[1933]-1933-0'}
            %label{:for => 'mce-group[1933]-1933-0'} MERCHANT

            %input{:type => 'radio', :value => '4', :name => 'group[1933]', :id => 'mce-group[1933]-1933-1'}
            %label{:for => 'mce-group[1933]-1933-1'} CUSTOMER
            
            %input{:type => 'radio', :value => '2', :name => 'group[1933]', :id => 'mce-group[1933]-1933-2'}
            %label{:for => 'mce-group[1933]-1933-2'} DELIVERER

            %input{:type => 'radio', :value => '8', :name => 'group[1933]', :id => 'mce-group[1933]-1933-3'}
            %label{:for => 'mce-group[1933]-1933-3'} PARTNER

          %input{:type => 'submit', :value => 'SIGN UP', :name => 'subscribe', :id => 'mc-embedded-subscribe', :class => 'button'}
      / %button.group
      /   =link_to 'DELIVERY', '/form'
      / %button.group
      /   =link_to 'MERCHANT', '/form'

%section.layer-2
  .wrapper
    %article.grid.pad
      %header.col-1
        %h3
          GET SAME DAY DELIVERY FROM LOCAL MERCHANTS.
          / WHYDELIVER? CAUSE IT'S <div id="cycle"><div>FAST.</div><div>CHEAPER.</div><div>LOCAL.</div><div>GREEN.</div><div>SUSTAINABLE.</div><div>HELPS.</div></div>
      %ul.group
        %li.col-1-3
          .square.group
            %figure.group
              %img{:src => "/assets/account-guy.png", :class => 'account'}
              %h4 CUSTOMER
          %p Support local economy and encourage sustainable social good.
        %li.col-1-3
          .square.group
            %figure.group
              %img{:src => "/assets/tags.png", :class => 'merchant'}
              %h4 MERCHANT
          %p Expand local markets while reducing carbon footprint.
        %li.col-1-3
          .square.group
            %figure.group
              %img{:src => "/assets/briefcase.png", :class => 'delivery'}
              %h4 DELIVERY
          %p Get to know your community with increased jobs in your neighborhood.