!!!
%html
  %head
    %title WhyDeliver
    = stylesheet_link_tag    "application", :media => "all"
    %script{:src => "https://js.stripe.com/v1/", :type => "text/javascript"}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
